.admin-logo {margin-right: 1rem;}

.adminnav {
    background: $blue;
    img {background: $white; padding: 0.3rem; border-radius: 5px 20px 5px;}
}

.video-item {border: 1px solid; box-shadow: 2px 2px 2px #999; padding: 0.5rem; margin: 0 0.5rem 0.5rem;}

.admin{
    h5 {color: #7d7d7d;}
    ul {list-style-type: none;}
    .list-group-item.active{
        a {color: #fff;}
        a:hover {color: #fff; background: none;}
    }
    .list-group-item {
        &:hover{background: $blue; a {color: $white;} }
        a:hover{color: $white;}
    }
    .nav > li {padding: 0;}
    .nav > li > a {padding: 2rem 1.5rem;
        &:hover {background: none;}
    }
    .active {background: #F0F0F0;}

    //Καταχώρηση
    //Album
    .album-description {border: 1px solid #f3f1f1; padding: 1.5rem; border-radius: 5px; display: none;}
}