// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .container {
        width: 99%;
    }
    header {
        .logo {
            img {
                width: 90%;
            }
        }
    }
    .topnav .navbar-nav > li {
        font-size: 2rem;
    }
    .navbar {
        position: absolute;
        top: 1rem;
        left: 0;        
    }
    .topnav .dropdown-item {
        background: #fff;
    }

    .gallery {
        li img {
            height: auto;
            object-fit: cover;
        }
    }
   
}


// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px)  {
    .container {
        width: 99%;
    }
    header {
        .logo {
            img {
                width: 90%;
            }
        }
        .header-right {
            height: 100px;
            .moto {
                top: 2rem;
                left: 0;
            }
        }        
    }

    // pages slider

    .caption {
        background: rgba(0, 0, 0, 0.8);
        position: relative;
        left: 0;
        h3 {
            font-weight: normal;
            font-size: 1.6rem;
            margin: 0.5rem 0;
            text-align: center;
        }
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    .container {
        width: 99%;
    }
    .entry {        
        // Breadcrumbs
        ol.breadcrumb {
            padding: 0;
            margin-bottom: 1rem;
        }
        .entry-top {
            position: relative;
            //Profile Pic
            .profile-pic {
                position: relative;
                width: 100%;
                object-fit: cover;
            }
            //Entry Title
            h1 {
                font-size: 2.5rem;
                margin-bottom: 0;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                color: $white;
                background: rgba(112, 112, 114, 0.5);
            }

        }

        

        //Entry menu
        nav {
            flex-flow: inherit;
            li {
                .active {
                    border: 1px solid;
                    border-radius: 5px;                    
                }
                a {
                    padding: 0.8rem;
                }
            }
        }
        .mobile-contact-icon {
            position: fixed;
            top: 80%;
            right: 3px;
            background: $blue;
            padding: 0.8rem;
            border-radius: 50%;
            a {
                color: $white;
            }
        }

        .gallery {
            li img {
                height: 200xp;
                object-fit: cover;
                width: 100%;
            }
        }
    }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { 
    .container {
        width: 99%;
    }
    .navbar-nav > li {
        font-size: 1.4rem;
    }
    .topnav .social {
        margin-left: 0;
    }
    .perifereies h1 {
        font-size: 1.8rem;
    }
 }



// // Medium devices (tablets, less than 992px)
// @media (mix-width: 577px) and (max-width: 991.99px) { 
//     header {
//         .header-right{
//             background: url("/storage/header-bg.jpg") 60%;
//         }
//     }
    
//     .topnav{
//         .social {
//             margin-left: 0;
//         }
//         .navbar-nav > li {
//             font-size: 1.3rem;
//             a {
//                 padding: 1rem;
//             }
//         }
//         .navbar-nav .open .dropdown-menu {
//             background: #fff;
//         }
//     }

//     .perifereies{ 
//         h1 {
//         font-size: 1.5rem;
//         }
//         .few {
//             line-height: 1.8;
//             font-size: 1.4rem;
//         }
//     }
//     .amaksi{
//         margin-left: 0;
//         h3.lucky {
//             font-size: 2.5rem;
//         }
//     }
//     footer{
//         img{
//             width: 150px;
//         }
//     }

//     //District page
//     .category-item{
//         h5{
//             text-align: center;
//         }
//     }

//  }

// // Large devices (desktops, less than 1200px)
@media (min-width: 992px) and (max-width: 1199.99px) { 
    header {
        .header-right{
            background: url("/storage/header-bg.jpg") 60%;
        }
    }
    .amaksi {
        margin-left: -1rem;
        h3.lucky {
            font-size: 3rem;
        }
    }
    //Districts
    .categories{
        h5 {
            a {
                font-size: 1.4rem;
            }
        }
    }
 }


// // Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .amaksi {
        margin-right: -1rem;
    }
    .banner-desc {
        position: relative;
        bottom: 0;
        right:0;
        left: 0;
        background: #fff;
    }
 }

 @media (min-width: 1200px) and (max-width: 1279px){
     .container {
         width: 100%;
     }
    .topnav {
        .social {
            margin-left: 8rem;
        }
    }
    // .showcase-a {
    //     img {
    //         height: 100%;
    //         object-fit: cover;
    //     }
    // }
    .amaksi {
        margin-right: -1rem;
    }
 }

 @media (min-width: 1200px) and (max-width: 1366px) {
     .container{
         width: 100%;
     }
     .amaksi {
        h3.lucky {
            font-size: 3.3rem;
        }
     }
 }