
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

//Mixins
@mixin box-border(){
    border: 1px solid $rose;
}

// Colors
$blue: #4A78B6;
$grey: #707072; //rgb(112, 112, 114)
$rose: #ff0066;
$rosergb: rgba(255, 0, 102, 0.8);
$white: #ffffff;
$black: rgb(91, 93, 92);

// Tag
%tag {
    background: #ddd;
    padding: 0.2rem .5rem;
    border-radius: 7px;
    box-shadow: 2px 2px #444;
    font-size: 75%;
    &:hover {
        background: transparent;
    }
}