// Fonts
// @import url('https://fonts.googleapis.com/css?family=Alegreya+Sans');
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
//Offcanvas
@import "offcanvas";
// Variables
@import "variables";
//Admin
@import "admin";
@import "clientarea";
//Magnific Popup
@import "magnific";
// div {border: 1px dotted;}
//Basics
// .container {
//     padding: 0;
// }

/*** Typography ***/

@font-face {
    font-family: 'Alegreya Sans';
    src: url('../fonts/AlegreyaSans-Regular.ttf');
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('../fonts/AlegreyaSans-Bold.ttf');
    font-weight: bold;
}

body {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1.8rem;
}

.navbar {
    z-index: 1;
}

h1,
h2,
h3,
h4 {
    font-weight: bold;
}

h1,
h2 {
    color: $black;
    font-size: 2.4rem;
    text-decoration: none;
}

h1 {
    margin: 2rem 0;
}

img {
    max-width: 100%;
}

p {
    text-align: justify;
    margin: 0 0 5px;
}

blockquote {
    font-size: 1.3em;
    font-style: italic;
    margin: 0.25em 0;
    padding: 1em 3em;
    line-height: 1.45;
    position: relative;
    color: #383838;
    border-left: none;
    &:before {
        display: block;
        content: "\201C";
        font-size: 5em;
        position: absolute;
        left: 0;
        top: -10px;
        color: #7a7a7a;
    }
}

blockquote cite {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}

blockquote cite:before {
    content: "\2014 \2009";
}

a:hover {
    text-decoration: none;
}

.breadcrumb-item {
    a {
        color: #000;
    }
}

.container {
    max-width: 99%;
    width: 90%;
}

.row {
    margin-left: 0;
    margin-right: 0;
}


/*** General stuff***/

section {
    margin: 0rem 0 2rem;
}

select.form-control:not([size]):not([multiple]) {
    height: calc(3.25rem + 2px);
}


/*** Top menu - Header ***/

header {
    width: 100%;
    margin: 0 0 0.1rem 0;
    .logo {
        margin: 0;
        padding: 0.5rem 0 0;
    }
    .header-right {
        background: url("/storage/header-bg.jpg") 100%;
        height: 150px;
        box-shadow: 25px 25px 50px 0 white inset, -25px -25px 50px 0 white inset;
    }
    .headersocial {
        position: absolute;
        right: 0;
        .fa,
        svg {
            color: $rosergb;
            opacity: 0.8;
            text-shadow: 2px 2px 2px #fff;
        }
    }
    .moto {
        position: relative;
        top: 100px;
        right: 0%;
    }
}

.topnav {
    background: $blue;
    margin: 0 0 1rem 0;
    padding: 0;
    a {
        color: $white;
    }
    font-size: 1.8rem;
    .dropdown-item {
        color: $blue;
        font-size: 1.8rem;
    }
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,2553, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    .social {
        margin-left: 20rem;
    }
    .nav>li>a:hover,
    .nav>li>a:focus {
        background: none;
    }
}

.navbar-default .navbar-nav li {
    margin-right: 3rem;
}

.navbar-default .navbar-nav li a {
    color: #fff;
    font-size: 1.7rem;
}

.navbar-default .navbar-nav li a:hover {
    color: #fff;
}

.topnav .dropdown-menu li a {
    color: #333;
}

.header .navbar {
    margin: 1rem 0 2rem;
}

.topnav .dropdown-menu li a:hover {
    background: $blue;
}

// OffCanvas Menu
.navbar-header {
    position: absolute;
    left: 1rem;
    top: 1rem;
}

.navbar-offcanvas.offcanvas-transform.in {
    background: $blue;
    h4 {
        border-bottom: 1px solid;
    }
    .nav {
        display: block;
    }
    .nav>li>a:hover,
    .nav>li>a:focus {
        background: rgba(255, 255, 255, .1);
    }
    .navbar-nav {
        .svg-inline--fa {
            margin-right: 1rem;
        }
        li {
            a {
                color: $white;
                font-size: 1.8rem;
                border-bottom: 1px solid rgba(255, 255, 255, .1);
                border-top: 1px solid $blue;
                padding: 1.5rem;
            }
        }
    }
    .dropdown-menu {
        background-color: transparent;
        .dropdown-item {
            white-space: unset;
        }
        .dropdown-item:focus,
        .dropdown-item:hover {
            background: rgba(255, 255, 255, .1);
        }
    }
}


/****** HomePage ******/


/*** Showcase ***/


/****** Main ******/

.featured {
    .showcase-a {
        img {
            display: block;
        }
        a {
            color: $grey;
        }
    }
    .perifereies {
        padding: 0.2rem;
        h1 {
            margin: 0 0.2rem;
            background: $rosergb;
            color: $white;
        }
        .few {
            line-height: 1.9;
            font-weight: bold;
            font-size: 1.7rem;
            a {
                small {
                    color: $grey;
                }
            }
        }
        a {
            color: #000;
            font-weight: bold;
            &:hover {
                color: $rosergb;
            }
        }
    }
}

.latest {
    hr {
        margin: 5px;
    }
    background: rgba(0,
    0,
    0,
    0.1);
    padding: 0 1rem;
    h2 {
        padding: 0;
        margin-bottom: 1.5rem;
    }
    .tag {
        @extend %tag;
        background: $grey;
        color: #fff;
        &:hover {
            color: $grey;
        }
    }
}

.latest-item {
    padding-left: 1px;
    .card {
        padding: 0.2rem;
    }
    .card-body {
        padding-top: 0;
    }
    .card-title a {
        color: $black;
        font-weight: bold;
    }
    img {
        height: 300px;
        width: 100%;
        object-fit: cover;
    }
    a.more {
        color: $black;
    }
    .tag {
        @extend %tag;
        color: #fff;
        background: $grey;
        font-size: 65%;
        &:hover {
            color: initial;
        }
    }
}

.sidebar {
    .sidebar-banner {
        position: relative;
        border-bottom: 1px solid $grey;
        a {
            color: $black;
        }
        img {
            padding: 0 0 1rem 0;
            width: 100%;
        }
        .cta {
            position: absolute;
            top: 50%;
            width: 100%;
            text-align: center;
            button {
                display: block;
                background: #fff;
                // padding: 0.5rem 1rem;
                margin: 0 auto;
                // width: 65%;
                color: #000;
            }
            h3 {
                color: #fff;
                text-shadow: 1px 1px $black;
                font-weight: normal;
            }
        }
    }
    .fb_iframe_widget {
        margin-top: 2rem;
    }
    .amaksi {
        h3.lucky {
            span.first {
                color: $blue;
            }
            span.second {
                color: $rose;
            }
        }
    }
}

.random {
    a {
        color: $black;
    }
}

.news {
    h3 {
        color: $black;
    }
    .news-item {
        margin: 2rem 0;
    }
}


/****** Districts ******/

.categories:nth-child(2) {
    background: rgba(0, 0, 0, 0.1);
}

.categories {
    padding: 0 1rem;
    width: 100%;
    h5 a {
        color: $black;
        font-size: 1.6rem;
        font-weight: bold;
    }
    .category-item {
        margin-bottom: 1.5rem;
        padding-left: 0;
        .thumbnail {
            margin-bottom: 0.5rem;
        }
    }
}


/****** Categories ******/

.list {
    .list-item {
        margin: 1rem 0;
        a {
            color: $black;
            &:hover {
                color: initial;
            }
        }
        h5 {
            font-weight: bold;
            font-size: 1.6rem;
        }
        img {
            height: 300px;
            object-fit: cover;
            width: 100%;
        }
        .tag {
            @extend %tag;
            background: $grey;
            color: #fff;
            font-size: 65%;
        }
    }
}


/****** Entries ******/

.entry {
    a {
        color: $black;
    }
    a.badge {
        color: #fff;
    }
    h1 {
        padding: 0.5rem;
        margin-bottom: 4rem;
        margin-top: 0rem;
        font-size: 4rem;
    }
    p {
        margin-bottom: 1.2rem;
    }
    .logo {
        // min-height: 200px;
        img {
            max-width: 100%;
        }
    }
    .profile-pic {
        max-height: 400px;
    }
    .entry-contact {
        a.btn-primary {
            color: #fff;
        }
    }
    /*** Mini Menu***/
    .entrymenu {
        margin-bottom: 2rem;
        .nav-item {
            a {
                color: #000;
            }
        }
    }
    .nav-pills .nav-link {
        color: $black;
        font-weight: bold;
    }
    .nav-pills .nav-link.active {
        background: none;
        color: #999;
    }
    .album {
        margin-bottom: 1rem;
        .thumbnail {
            margin-bottom: 0.2rem;
        }
    }
    .album-description {
        h2,
        p {
            font-size: 90%;
        }
    }
    .profile {
        .more-img {
            position: absolute;
            bottom: 0;
            right: 6%;
        }
        ul {
            display: grid;
        }
        .profileGallery {
            img {
                height: auto;
                width: 100%;
                object-fit: cover;
            }
        }
    }
    .gallery {
        div img {
            height: 200px;
            object-fit: cover;
            width: 100%;
        }
    }
    .more {
        background: rgba(0, 0, 0, 0.1);
        .thumbnail {
            height: 180px;
            object-fit: cover;
            display: block;
            margin: 0 auto;
        }
    }
    label {
        font-weight: normal;
    }
    .tag {
        @extend %tag;
    }
}


/*** InfoPages ***/

//Add Your Business
.info {
    border: 3px solid #000;
    width: 300px;
    height: 100px;
    border-radius: 50%;
    .counter {
        margin-right: 1rem;
        font-size: 3.5rem;
        color: $rosergb;
    }
}

.infoContact {
    .form-group {
        margin-bottom: 3rem;
    }
    .form-control {
        border-top: 0;
        border-right: 0;
        border-left: 0;
        border-bottom: 1px solid $black;
        box-shadow: unset;
        border-radius: 0;
    }
}


/*** Pages ***/

.slide {
    position: relative;
}

.caption {
    position: absolute;
    left: 1%;
    right: 75%;
    bottom: 2%;
    background: rgba(0, 0, 0, 0.8);
    padding: 1rem;
    text-align: left;
    color: #fff;
    .slider-title {
        color: $rosergb;
        font-size: 24px;
        font-weight: bold;
    }
}

.sidebar-element {
    margin-bottom: 3rem;
}

.page-description {
    margin-bottom: 2rem;
}

a.btn {
    &:hover {
        color: #ddd;
    }
}

#district-list {
    h3 {
        margin-top: 0.5rem;
    }
}

span.district {
    border-bottom: 1px dotted;
    border-top: 1px dotted;
    padding: 0.3rem 0;
}

.faq {
    margin-top: 4rem;
    h2 {
        font-size: 3.5rem;
    }
}


/*Churches*/

#main .churches {
    a {
        h4,
        p {
            color: $black;
            &:hover {
                color: initial;
            }
        }
    }
}


/*** Footer ***/

footer {
    background: $blue;
    width: 100%;
    color: $white;
    a {
        color: $white;
    }
    margin-top: 1rem;
    min-height: 10rem;
    padding: 1rem;
    img {
        width: 200px
    }
    .footer-social {
        margin: 3rem 0 0;
        .list-inline>li {
            background: #fff;
            border-radius: 50px;
            width: 30px;
            height: 30px;
            text-align: center;
            padding: 5px;
            &:hover {
                background: $blue;
            }
            a {
                color: $blue;
                &:hover {
                    color: #fff;
                }
            }
        }
        .list-inline-item:not(:last-child) {
            margin-right: 15px;
        }
    }
}


/*** Cookie consent***/

.cookie-consent {
    position: fixed;
    bottom: 7rem;
    left: 0;
    right: 0;
    background: $white;
    height: 120px;
    padding: 1rem;
    line-height: 3rem;
    z-index: 999;
    color: $grey;
    span {
        padding: 0.5rem;
    }
    button {
        background: $black;
        color: $white;
        opacity: 0.8;
        margin: 1rem;
    }
    button.cookie-consent__agree {
        background: $blue;
    }
}



//Media Queries
@import "mediaqueries";